Flask==2.2.2
python-dotenv==1.0.0
google-cloud==0.34.0
google-generativeai==0.0.1
Pillow==9.5.0
speechrecognition==3.8.1
edge-tts==2.0.1
pygame==2.5.0
assemblyai==0.12.0
translate==3.6.1
uuid==1.30
elevenlabs==0.3.0
YouTubeTranscriptApi==0.6.0
